/*INTERFACE*/
/*스타일 묶음*/

/*----color system----*/
$color-main: #efddd1;
$color-point: #0a34a2;
$color-line: #e3e3e3;
$color-black: #1d1d1d;
$color-middle-black: #484848;
$color-white: #ffffff;

/*----font system----*/
@mixin font-bigTitle {
  font-size: 42px;
  @media screen and (min-width: 768px) {
    font-size: 5.4688vw;
  }
  @media screen and (min-width: 1200px) {
    font-size: 76px;
  }
}

/*----Media Query----*/
/*max-width:320px*/
@mixin mobile {
  @media (max-width: #{breakpoint-mobile}) {
    @content;
  }
}
/*min-width:768px*/
@mixin tablet-mini {
  @media (min-width: #{$breakpoint-mobile}) {
    @content;
  }
}
/*min-width:980px*/
@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}
/*min-width:1200px*/
@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
